body, div, h1 {
    padding: 0;
    margin: 0;
}

#header {
    width: 100vw;
    height: 15vh;
    background: slateblue;
    color:lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.answer {
    background-color: lightgray;
    border: 2px solid lightslategray;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}